body {
  min-height: 100%;
}

.ui-layout-container {
  //position: absolute;
  height: 100%;
  width: 100%;
}

.ui-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.ui-layout-header {
  z-index: 3;
}

.ui-layout-content {
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  z-index: 1;
}

// Temporal
.sidebar {
  display: none;
}
